.main {
  width: 60rem;
  margin: auto;
  padding: 0px 0px;

}

header {
  width: 100%;
  background-color: darkcyan;
}

main {
  margin: 0px 0px;
  padding: 0px 0px;
  border-radius: 0px;
  background-color: yellow;
}

footer {
  width: 100%;
  background-color: rosybrown;
}
